@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.artboard1row0 {
display: flex;
margin-left: 122px;
margin-top: 129px;
width: 174px;
height: 25px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fka.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-left: 10px;
margin-top: 2px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 123px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-left: 160px;
margin-top: 6px;
height: 0px;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 133px;
margin-top: 14px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 191px;
margin-top: 134px;
width: 159px;
height: 159px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eza.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 32px;
width: 98px;
height: 105px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eqm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 130px;
margin-top: 0px;
width: 59px;
height: 59px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1g6f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 341px;
margin-top: 16px;
width: 18px;
height: 18px;}
.artboard2row1 {
display: flex;
margin-left: 85px;
margin-top: 35px;
width: 239px;
height: 301px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fz7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
display: flex;
margin-left: 0px;
width: 205px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 188px;
margin-top: 81px;
width: 8px;
height: 8px;}
.artboard2row1column1 {
display: flex;
margin-left: 4px;
margin-top: 65px;
width: 8px;
height: 25px;
align-items: center;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1em;
margin-top: 0px;
height: 0px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 16px;
width: 100%;
height: 8px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 13px;
margin-top: 81px;
width: 8px;
height: 8px;}
.style13 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 357px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 1.3125em;
margin-left: 298px;
margin-top: 252px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 298px;
margin-top: 34px;
height: 0px;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.875em;
margin-left: 298px;
margin-top: 65px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1gwq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 341px;
margin-top: 16px;
width: 18px;
height: 18px;}
.artboard3row1 {
display: flex;
margin-left: 87px;
margin-top: 34px;
width: 237px;
height: 303px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1goq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
width: 201px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 186px;
margin-top: 82px;
width: 8px;
height: 8px;}
.artboard3row1column1 {
display: flex;
margin-left: 6px;
margin-top: 65px;
width: 8px;
height: 25px;
align-items: center;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1em;
margin-top: 0px;
height: 0px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 16px;
width: 100%;
height: 8px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 13px;
margin-top: 82px;
width: 8px;
height: 8px;}
.style25 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 357px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 1.3125em;
margin-left: 298px;
margin-top: 252px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 298px;
margin-top: 34px;
height: 0px;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.875em;
margin-left: 298px;
margin-top: 65px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 237px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k2b.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 16px;
margin-top: 24px;
width: 18px;
height: 18px;}
.artboard4container14row1 {
display: flex;
margin-left: 155px;
margin-top: 59px;
width: 142px;
height: 64px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k7y.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 75px;
margin-top: 46px;
height: 0px;}
.artboard4container14row2 {
display: flex;
margin-left: 275px;
margin-top: 0px;
width: 50px;
height: 8px;
align-items: stretch;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 0.8125em;
margin-top: 37px;
height: 0px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 49px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 16px;
width: 325px;
height: 21px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jqs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 21px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 9px;
margin-top: 16px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 325px;
margin-top: 17px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 334px;
flex-direction: column;}
.artboard4container10row0 {
display: flex;
margin-left: 250px;
margin-top: 127px;
width: 64px;
height: 15px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jfb.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 13px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 0.9375em;
margin-left: 51px;
margin-top: 13px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 40px;
width: 247px;
height: 60px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1j4g.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 60px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.8125em;
margin-left: 18px;
margin-top: 37px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 0px;
margin-top: 15px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 79px;
margin-top: 56px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1imz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 159px;
width: 9px;
height: 11px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 34px;
width: 247px;
height: 60px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1id8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 60px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 0.8125em;
margin-left: 18px;
margin-top: 37px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 1em;
margin-left: 0px;
margin-top: 14px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 79px;
margin-top: 56px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1hte.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 159px;
margin-top: 23px;
width: 9px;
height: 11px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 50px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.artboard1row0 {
display: flex;
margin-left: 250px;
margin-top: 264px;
width: 356px;
height: 51px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fka.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 55px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.432em;
margin-left: 20px;
margin-top: 4px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 252px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.432em;
margin-left: 328px;
margin-top: 12px;
height: 0px;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 272px;
margin-top: 29px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 391px;
margin-top: 274px;
width: 326px;
height: 326px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eza.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 66px;
width: 201px;
height: 215px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eqm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 266px;
margin-top: 0px;
width: 121px;
height: 121px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1g6f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 698px;
margin-top: 33px;
width: 37px;
height: 37px;}
.artboard2row1 {
display: flex;
margin-left: 174px;
margin-top: 72px;
width: 489px;
height: 616px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fz7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
display: flex;
margin-left: 0px;
width: 420px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 385px;
margin-top: 166px;
width: 16px;
height: 16px;}
.artboard2row1column1 {
display: flex;
margin-left: 8px;
margin-top: 133px;
width: 16px;
height: 51px;
align-items: center;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.048em;
margin-top: 0px;
height: 0px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 33px;
width: 100%;
height: 16px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 27px;
margin-top: 166px;
width: 16px;
height: 16px;}
.style13 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 731px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 2.688em;
margin-left: 610px;
margin-top: 516px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 610px;
margin-top: 70px;
height: 0px;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.792em;
margin-left: 610px;
margin-top: 133px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1gwq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 698px;
margin-top: 33px;
width: 37px;
height: 37px;}
.artboard3row1 {
display: flex;
margin-left: 178px;
margin-top: 70px;
width: 485px;
height: 621px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1goq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
width: 412px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 381px;
margin-top: 168px;
width: 16px;
height: 16px;}
.artboard3row1column1 {
display: flex;
margin-left: 12px;
margin-top: 133px;
width: 16px;
height: 51px;
align-items: center;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.048em;
margin-top: 0px;
height: 0px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 33px;
width: 100%;
height: 16px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 27px;
margin-top: 168px;
width: 16px;
height: 16px;}
.style25 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 731px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 2.688em;
margin-left: 610px;
margin-top: 516px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 610px;
margin-top: 70px;
height: 0px;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.792em;
margin-left: 610px;
margin-top: 133px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 485px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k2b.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 33px;
margin-top: 49px;
width: 37px;
height: 37px;}
.artboard4container14row1 {
display: flex;
margin-left: 317px;
margin-top: 121px;
width: 291px;
height: 131px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k7y.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 137px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 154px;
margin-top: 94px;
height: 0px;}
.artboard4container14row2 {
display: flex;
margin-left: 563px;
margin-top: 0px;
width: 102px;
height: 16px;
align-items: stretch;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 1.6640000000000001em;
margin-top: 76px;
height: 0px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 100px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 33px;
width: 666px;
height: 43px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jqs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 43px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 18px;
margin-top: 33px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 666px;
margin-top: 35px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 684px;
flex-direction: column;}
.artboard4container10row0 {
display: flex;
margin-left: 512px;
margin-top: 260px;
width: 131px;
height: 31px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jfb.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 1.92em;
margin-left: 104px;
margin-top: 27px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 82px;
width: 506px;
height: 123px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1j4g.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 123px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.6640000000000001em;
margin-left: 37px;
margin-top: 76px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 0px;
margin-top: 31px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 162px;
margin-top: 115px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1imz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 326px;
width: 18px;
height: 23px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 70px;
width: 506px;
height: 123px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1id8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 123px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.6640000000000001em;
margin-left: 37px;
margin-top: 76px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.048em;
margin-left: 0px;
margin-top: 29px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 162px;
margin-top: 115px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1hte.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 326px;
margin-top: 47px;
width: 18px;
height: 23px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 102px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.artboard1row0 {
display: flex;
margin-left: 299px;
margin-top: 316px;
width: 427px;
height: 61px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fka.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 66px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-left: 25px;
margin-top: 5px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 302px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-left: 393px;
margin-top: 15px;
height: 0px;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 326px;
margin-top: 34px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 469px;
margin-top: 329px;
width: 390px;
height: 390px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eza.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 79px;
width: 240px;
height: 258px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eqm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 319px;
margin-top: 0px;
width: 145px;
height: 145px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1g6f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 837px;
margin-top: 39px;
width: 44px;
height: 44px;}
.artboard2row1 {
display: flex;
margin-left: 209px;
margin-top: 86px;
width: 586px;
height: 738px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fz7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
display: flex;
margin-left: 0px;
width: 503px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 461px;
margin-top: 199px;
width: 20px;
height: 20px;}
.artboard2row1column1 {
display: flex;
margin-left: 10px;
margin-top: 159px;
width: 20px;
height: 61px;
align-items: center;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-top: 0px;
height: 0px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 39px;
width: 100%;
height: 20px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 32px;
margin-top: 199px;
width: 20px;
height: 20px;}
.style13 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 876px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 3.2199999999999998em;
margin-left: 731px;
margin-top: 618px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 731px;
margin-top: 83px;
height: 0px;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
margin-left: 731px;
margin-top: 159px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1gwq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 837px;
margin-top: 39px;
width: 44px;
height: 44px;}
.artboard3row1 {
display: flex;
margin-left: 213px;
margin-top: 83px;
width: 581px;
height: 743px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1goq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
width: 493px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 456px;
margin-top: 201px;
width: 20px;
height: 20px;}
.artboard3row1column1 {
display: flex;
margin-left: 15px;
margin-top: 159px;
width: 20px;
height: 61px;
align-items: center;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-top: 0px;
height: 0px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 39px;
width: 100%;
height: 20px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 32px;
margin-top: 201px;
width: 20px;
height: 20px;}
.style25 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 876px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 3.2199999999999998em;
margin-left: 731px;
margin-top: 618px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 731px;
margin-top: 83px;
height: 0px;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.1466666666666665em;
margin-left: 731px;
margin-top: 159px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 581px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k2b.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 39px;
margin-top: 59px;
width: 44px;
height: 44px;}
.artboard4container14row1 {
display: flex;
margin-left: 380px;
margin-top: 145px;
width: 348px;
height: 157px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k7y.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 164px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 184px;
margin-top: 113px;
height: 0px;}
.artboard4container14row2 {
display: flex;
margin-left: 675px;
margin-top: 0px;
width: 123px;
height: 20px;
align-items: stretch;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 1.9933333333333332em;
margin-top: 91px;
height: 0px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 120px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 39px;
width: 797px;
height: 52px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jqs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 52px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 22px;
margin-top: 39px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 797px;
margin-top: 42px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 819px;
flex-direction: column;}
.artboard4container10row0 {
display: flex;
margin-left: 613px;
margin-top: 312px;
width: 157px;
height: 37px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jfb.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 32px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 2.3em;
margin-left: 125px;
margin-top: 32px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 98px;
width: 606px;
height: 147px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1j4g.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 147px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.9933333333333332em;
margin-left: 44px;
margin-top: 91px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 0px;
margin-top: 37px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 194px;
margin-top: 137px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1imz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 390px;
width: 22px;
height: 27px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 83px;
width: 606px;
height: 147px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1id8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 147px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 1.9933333333333332em;
margin-left: 44px;
margin-top: 91px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 2.453333333333333em;
margin-left: 0px;
margin-top: 34px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 194px;
margin-top: 137px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1hte.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 390px;
margin-top: 56px;
width: 22px;
height: 27px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 123px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.artboard1row0 {
display: flex;
margin-left: 390px;
margin-top: 413px;
width: 557px;
height: 80px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fka.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 86px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-left: 32px;
margin-top: 6px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 394px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-left: 512px;
margin-top: 19px;
height: 0px;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 426px;
margin-top: 45px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 611px;
margin-top: 429px;
width: 509px;
height: 509px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eza.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 102px;
width: 314px;
height: 336px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1eqm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 416px;
margin-top: 0px;
width: 189px;
height: 189px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1g6f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 1091px;
margin-top: 51px;
width: 58px;
height: 58px;}
.artboard2row1 {
display: flex;
margin-left: 272px;
margin-top: 112px;
width: 765px;
height: 963px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1fz7.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
display: flex;
margin-left: 0px;
width: 656px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 602px;
margin-top: 259px;
width: 26px;
height: 26px;}
.artboard2row1column1 {
display: flex;
margin-left: 13px;
margin-top: 208px;
width: 26px;
height: 80px;
align-items: center;
flex-direction: column;}
.style24 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3.2em;
margin-top: 0px;
height: 0px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 51px;
width: 100%;
height: 26px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 42px;
margin-top: 259px;
width: 26px;
height: 26px;}
.style13 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1142px;
flex-direction: column;}
.style17 {
color: #fe5511;
font-family: 'arial',serif;
font-size: 4.2em;
margin-left: 954px;
margin-top: 806px;
height: 0px;}
.style16 {
color: #202020;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 954px;
margin-top: 109px;
height: 0px;}
.style15 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
margin-left: 954px;
margin-top: 208px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1gwq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 1091px;
margin-top: 51px;
width: 58px;
height: 58px;}
.artboard3row1 {
display: flex;
margin-left: 278px;
margin-top: 109px;
width: 758px;
height: 970px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1goq.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
display: flex;
margin-left: 0px;
width: 643px;
height: 100%;
align-self: stretch;
flex-direction: column;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 595px;
margin-top: 262px;
width: 26px;
height: 26px;}
.artboard3row1column1 {
display: flex;
margin-left: 19px;
margin-top: 208px;
width: 26px;
height: 80px;
align-items: center;
flex-direction: column;}
.style36 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 3.2em;
margin-top: 0px;
height: 0px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-top: 51px;
width: 100%;
height: 26px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 42px;
margin-top: 262px;
width: 26px;
height: 26px;}
.style25 {
background-color: #ffffff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1142px;
flex-direction: column;}
.style29 {
color: #6655cc;
font-family: 'arial',serif;
font-size: 4.2em;
margin-left: 954px;
margin-top: 806px;
height: 0px;}
.style28 {
color: #202020;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 954px;
margin-top: 109px;
height: 0px;}
.style27 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.8000000000000003em;
margin-left: 954px;
margin-top: 208px;
height: 0px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 758px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k2b.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 51px;
margin-top: 77px;
width: 58px;
height: 58px;}
.artboard4container14row1 {
display: flex;
margin-left: 496px;
margin-top: 189px;
width: 454px;
height: 205px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1k7y.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 214px;
height: 100%;
align-self: stretch;}
.style71 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 240px;
margin-top: 147px;
height: 0px;}
.artboard4container14row2 {
display: flex;
margin-left: 880px;
margin-top: 0px;
width: 160px;
height: 26px;
align-items: stretch;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style74 {
color: #0086ff;
font-family: 'arial',serif;
font-size: 2.6em;
margin-top: 118px;
height: 0px;
align-self: center;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 157px;
flex-direction: column;
justify-content: center;}
.artboard4container12row0 {
display: flex;
margin-left: 51px;
width: 1040px;
height: 67px;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jqs.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 67px;
height: 100%;
align-self: stretch;}
.style65 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 29px;
margin-top: 51px;
height: 0px;}
.style64 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 1040px;
margin-top: 54px;
height: 0px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1069px;
flex-direction: column;}
.artboard4container10row0 {
display: flex;
margin-left: 800px;
margin-top: 406px;
width: 205px;
height: 48px;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1jfb.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 42px;
height: 100%;
align-self: stretch;}
.style62 {
color: #fefefe;
font-family: 'arial',serif;
font-size: 3em;
margin-left: 163px;
margin-top: 42px;
height: 0px;}
.artboard4container10row1 {
display: flex;
margin-top: 128px;
width: 790px;
height: 192px;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1j4g.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 192px;
height: 100%;
align-self: stretch;}
.style56 {
color: #757575;
font-family: 'arial',serif;
font-size: 2.6em;
margin-left: 58px;
margin-top: 118px;
height: 0px;}
.style57 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 0px;
margin-top: 48px;
height: 0px;}
.style55 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 253px;
margin-top: 179px;
height: 0px;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1imz.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 509px;
width: 29px;
height: 35px;
align-self: center;}
.artboard4container10row2 {
display: flex;
margin-top: 109px;
width: 790px;
height: 192px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1id8.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 192px;
height: 100%;
align-self: stretch;}
.style49 {
color: #757575;
font-family: 'arial',serif;
font-size: 2.6em;
margin-left: 58px;
margin-top: 118px;
height: 0px;}
.style50 {
color: #202020;
font-family: 'arial',serif;
font-size: 3.2em;
margin-left: 0px;
margin-top: 45px;
height: 0px;}
.style48 {
color: #9a9a9a;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 253px;
margin-top: 179px;
height: 0px;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upykh9vjmrw1hte.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 509px;
margin-top: 74px;
width: 29px;
height: 35px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 160px;}
}